body{
    background-color: rgb(170, 187, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.campos{
    width: 350px;
     text-align: center;
}
img{
    width: 300px;
}
.campos1{
    width: 350px;
}
.campos1 ul li{
    list-style: none;
}